@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html, body, .app {
  text-align: center;
  background-image: url(./Components/Images/Login.jpg);
  background-size:cover;
  background-attachment: fixed;

}

.form {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 20%;
  position: relative;
  z-index: 100;
  background-color: transparent;
  box-shadow: 0px 0px 42px -8px rgba(0,0,0,1);
}

.form h2 {
font-family: "Arial";
margin-bottom: 0;
color: white;
font-weight: bold;
font-size: 30px;
}

.input_boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
}

.input_box {
  margin: 10px; 
  padding: 10px;
  width: 70%;
  outline: none;
  border: 1px none;
  font-family: "PT Sans";
  background-color: #EFEFEF;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btn {
  width: 60%;
  margin-bottom: 20px;
  font-family: "Montserrat";
  background-color: #399CFF;
  color: white;
  border: none;
  transition: 0.3s;
  padding: 10px;
}

.btn:nth-child(2) {
  background-color: #5AAD5A;
}

.btn:hover, .btn:focus .btn_google:hover, .btn_google:focus {
  box-shadow: 0px 0px 22px -8px rgba(0,0,0,1);
}

.btn_google {
  transition: 0.3s;
  width: 60%;
}


.line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 50%;
  height: 1px;
  background-color: #D6D6D6;
}